
.page{
    background-color: #f0afe7;
    background-image: url(../img/Mediamodifier-Design\ \(2\).svg);
    background-size: 20%;
    padding: 1.5em;
}
.page__header{
    text-align: center;
    background-color: rgba(250, 149, 248, 0.929);
    border-radius: .5em;
    border: 5px solid rgba(233, 140, 233, 0.932);
}
h1{
    margin: 0em;
    
    font-size: 3em
}
.page__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin-top: 1em;
}
.card {
    width: 150px;
    height: 200px;
    perspective: 1000px;
    cursor: pointer;
    padding: .5em;
    flex-basis: 40%;
    flex-grow: 1;
}
.card-inner {
    
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 1em;
}
.card.flipped .card-inner {
    transform: rotateY(-180deg);
    -webkit-box-shadow: -10px 15px 28px 11px rgba(0,0,0,0.45);
-moz-box-shadow: -10px 15px 28px 11px rgba(0,0,0,0.45);
box-shadow: -10px 15px 28px 11px rgba(0,0,0,0.45);
}
.card-front, .card-back {
    border-radius: 1em;
    
    border: 5px solid #db6bbd;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f276d1;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    font-size: 18px;
    font-weight: bold;
    
}
.card-back {
    transform: rotateY(180deg);
    background: #f582d6;
}
.text-small{
    font-size: 90%;
}
.text-big{
    font-size: 2em;
}
.card-big{
    width: 80%;
}
@media screen and (min-width: 650px) {
    .card{
        flex-basis:auto;
    }
}
